<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd ">
    <bean class="spring.aop01.UserServiceImpl" id="userService"/>
    <bean class="spring.ioc01.CalendarFactoryBean" id="calendar"/>
    <bean class="spring.ioc01.ConnectionFactoryBean" id="connection"/>


    <context:property-placeholder location="classpath:JDBC/mybatis.properties"/>
    <bean class="com.alibaba.druid.pool.DruidDataSource" id="dataSource">
        <property name="driverClassName" value="${driver}"/>
        <property name="username" value="${username}"/>
        <property name="url" value="${url}"/>
        <property name="password" value="${password}"/>
    </bean>
<!--    事务-->
    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath*:springMybatis/*Mapper.xml"/>
        <property name="typeAliasesPackage" value="mybatis01.testmybatis.associa_1.entity"/>
    </bean>

<!--   MapperScannerConfigurer :
        默认创建对象在工厂中唯—标识:接口的首字母小写
        UserDAO=====>userDAO
 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="mybatis01.testmybatis.associa_1.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

    <tx:advice id="transactionAdvice" transaction-manager="transactionManager">
        <!--事务细粒度配置 给那些方法加事务-->
        <tx:attributes>
            <!--  这里加了 事务才会到方法上      -->
            <tx:method name="save"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="server" expression="within(springMybatis.server.*Server)"/>
        <aop:advisor advice-ref="transactionAdvice" pointcut-ref="server"/>
    </aop:config>



</beans>